body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  background-image: url("../img/background_index.png");
  font-family: 'Inter';
  font-weight: bold;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#game-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameCanvas {
  display: none;
}

#countdown {
  font-size: 10vh;
  color: #ff00ff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.message {
  padding: 1vh;
  border-radius: 5px;
  width: 90vw;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 3.5vh;
  font-weight: bold;
  display: none;
}

#sec-label,
#message,
#leverage-message,
#bull-value,
#bear-value,
#boost-message,
#slowdown-message,
#zkp-message,
#triend-message {
  top: 30%;
}

#message {
  top: 35%;
}

#leverage-message {
  top: 40%;
}

#bull-value {
  top: 45%;
}

#bear-value {
  top: 50%;
}

#boost-message {
  top: 55%;
}

#slowdown-message {
  top: 60%;
}

#zkp-message {
  top: 65%;
}

#triend-message {
  top: 75%;
}

#game-over-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  text-align: center;
  display: none;
  background-color: black;
  border-radius: 10px;
}

#game-over-screen .leaderboard-container {
  height: max-content;
}

.game-stats {
  margin-top: 10px;
  font-size: 2.5vh;
  flex-grow: 1;
  overflow-y: auto;
}

.game-stats table {
  width: 100%;
  color: white;
  border-collapse: collapse;
}

.game-stats th,
.game-stats td {
  padding: 10px;
  border: 1px solid #ddd;
}

.game-stats th {
  background-color: #444;
}

.score-section {
  flex-direction: row !important;
  margin: 10px;
  gap: 10px;
  font-size: 20px;
}

#final-score {
  margin: 5px 0;
  font-size: 3vh;
  color: #FFFFFF;
}

.game-stats {
  margin-top: 20px;
  font-size: 3vh;
  flex-grow: 1;
  overflow: auto;
}

.game-stats div {
  margin: 10px 0;
}

.tabs {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.tab {
  flex: 1;
  padding: 10px;
  background-color: #444;
  border-radius: 10px 10px 0 0;
  font-size: 2.5vh;
  font-weight: bold;
  text-align: center;
}

.tab.active {
  background-color: #00FFCF;
  /* Updated color */
  color: black;
}

.tab-content {
  display: none;
  flex-grow: 1;
  overflow-y: auto;
}

.tab-content.active {
  display: block;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.buttons button,
.my-progress,
.share-dropdown a {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 3vh;
  background: linear-gradient(90deg, #FF0092, #00FFCF);
  /* Linear gradient color */
  color: black;
  text-align: center;
}

.my-progress {
  background-color: #ADD8E6;
  color: black;
}

#add-points-button {
  position: relative;
  display: inline-block;
}

#share-dropdown {
  display: none;
  position: absolute;
  background-color: #ADD8E6;
  min-width: 160px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

#share-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

#share-dropdown a:hover {
  background-color: #f1f1f1;
}

#score {
  position: absolute;
  top: 2vh;
  left: 2vh;
  font-size: 3vh;
  color: white;
  text-align: left;
  width: auto;
  z-index: 10;
}

#score-breakdown {
  position: absolute;
  top: 11vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5vh;
  text-align: center;
  width: 90vw;
  color: white;
  z-index: 10;
}

#health-container {
  position: absolute;
  top: 7vh;
  left: 2vh;
  width: 15vw;
  height: 10px;
  background: url("{{url_for('static', filename='img/health-bar.png')}}") no-repeat center;
  background-size: contain;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1px;
}

#health-bar {
  height: 100%;
  background-color: green;
  width: 100%;
  transition: width 0.5s, background-color 0.5s;
}

#end-and-bank-button {
  position: absolute;
  top: 2vh;
  right: 10vh;
  /* Adjusted to make space for info button */
  padding: 1vh 2vh;
  font-size: 2vh;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
}

#info-button,
#info-close {
  display: none;
  position: absolute;
  top: 2vh;
  right: 2vh;
  width: 5vh;
  height: 5vh;
  background: #575757;
  /* Updated color */
  color: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2.5vh;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

#info-modal {
  align-items: center;
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

#rule-modal {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#rule-modal .modal_type1 {
  display: none;
}

.modal_type1 {
  font-size: 20px;
  color: white;
  height: max-content;
  border-radius: 50px 50px 50px 50px;
  width: 80%;
  background: #333333;
  box-shadow: 0px -4px 4px 0px #00FFCF;
}

.modal_type1 .score {
  padding: 24px 32px 24px 32px;
  gap: 8px;
  border-radius: 24px 24px 24px 24px;
  opacity: 0px;
  background: #2A2A2A;
}

#rule-modal img {
  width: 90%;
  height: auto;
  background: #000000;
  border-radius: 20px 20px 20px 20px;
  opacity: 0px;
  margin: 10px;
}

#info-modal-content {
  width: 90%;
  height: max-content;
  color: white;
  padding: 2rem;
  overflow-y: auto;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

#info-modal-content .tile_bg {
  display: flex;
  margin-bottom: 0.5rem;
  gap: 10px;
}

#info-modal-content img {
  height: 40px;
  width: 40px;
}

#info-modal-content .blog {
  width: 40%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 20px;
  border-radius: 20px 20px 20px 20px;
  opacity: 0px;
  background: #333333;
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#flash-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.5);
  display: none;
  z-index: 20;
}

#opening-page {
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 90vw;
  font-size: 3.5vh;
  font-weight: bold;
}

#yes-button,
#no-button {
  padding: 1vh 2vh;
  font-size: 3vh;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1vh;
  width: 40vw;
}

#characters {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}

#characters img {
  width: 10vw;
  height: 10vw;
  margin-right: 1vw;
}

#characters img:last-child {
  margin-right: 0;
}

/* Footer styles from tasks.html */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  border-top: 1px solid #333;
  position: fixed;
  width: 100%;
  height: 250px;
  gap: 20px;
  border-radius: 50px 50px 0px 0px;
  opacity: 0px;
  bottom: 0px;
  background: linear-gradient(180deg, #2A3A37 0%, #000000 100%);
  box-shadow: 0px -4px 4px 0px #00FFCF;
  background-color: black;
  z-index: 1000;
}

/* Start Game Button */
.green_btn {
  width: 90%;
  height: 50px;
  border-radius: 16px 16px 16px 16px;
  font-size: 20px;
  padding: 1rem;
  font-weight: 700;
  background: #00FFCF;
  color: black;
  text-align: center;
}

.green_btn:hover {
  opacity: 90%;
}

.green_btn:active {
  box-shadow: 0 1px #fff;
  transform: translateY(1px);
}

/* Footer */
.footer {
  display: none;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
  border-top: 1px solid #333;
  width: 100%;
  background-color: black;
  height: 50px;
  position: fixed;
  bottom: 0px;
  border-radius: 15px;
  border-radius: 50px 50px 0px 0px;
  opacity: 0px;
  background: linear-gradient(360deg, #000000 0%, #2A3A37 100%);
  box-shadow: 0px -4px 4px 0px #00FFCF;
}

.footer .footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vh;
  color: #aaa;
  cursor: pointer;
  padding: 2px 0;
  flex: 1;
}

.footer .footer-item .icon {
  font-size: 3vh;
  margin-bottom: 2px;
}

.footer .footer-item.active {
  color: #fff;
}