body,
html {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    overflow: hidden;
}

.leaderboard-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 36px;
}

.game-stats {
    margin-top: 10px;
    font-size: 2.5vh;
    flex-grow: 1;
    overflow-y: auto;
}

.game-stats table {
    width: 100%;
    color: white;
    border-collapse: collapse;
}

.game-stats th,
.game-stats td {
    padding: 10px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.tab {
    flex: 1;
    padding: 10px;
    background-color: #444;
    border-radius: 1.5rem 0 0 0;
    font-size: 2.5vh;
    font-weight: bold;
    text-align: center;
}

.tab.tab-right {
    border-radius: 0 1.5rem 0 0;
}

.tab.active {
    background-color: #00FFCF;
    color: black;
}

.tab-content {
    display: none;
    flex-grow: 1;
    overflow-y: auto;
}

.tab-content.active {
    display: flex;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    border-top: 1px solid #333;
    width: 100%;
    background-color: black;
    height: 50px;
    position: fixed;
    bottom: 0px;
    border-radius: 15px;
    border-radius: 50px 50px 0px 0px;
    opacity: 0px;
    background: linear-gradient(360deg, #000000 0%, #2A3A37 100%);
    box-shadow: 0px -4px 4px 0px #00FFCF;
}

.footer .footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vh;
    color: #aaa;
    cursor: pointer;
    padding: 2px 0;
    flex: 1;
}

.footer .footer-item .icon {
    font-size: 3vh;
    margin-bottom: 2px;
}

.footer .footer-item.active {
    color: #fff;
}

.timer {
    color: #FFF;
    margin-left: 10px;
}

.farming-circle {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    animation: sparkle 1.5s infinite;
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2.5vh;
    background: linear-gradient(135deg, #FF0092, #00FFCF);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@keyframes sparkle {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#info-button,
#info-close {
    display: flex;
    position: absolute;
    top: 2vh;
    right: 2vh;
    width: 5vh;
    height: 5vh;
    background: #575757;
    /* Updated color */
    color: black;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2.5vh;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#info-modal {
    align-items: center;
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

#info-modal-content {
    width: 90%;
    height: max-content;
    color: white;
    padding: 2rem;
    overflow-y: auto;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

#info-modal-content .tile_bg {
    display: flex;
    margin-bottom: 0.5rem;
    gap: 10px;
}

#info-modal-content img {
    height: 40px;
    width: 40px;
}

#info-modal-content .blog {
    width: 40%;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 20px;
    border-radius: 20px 20px 20px 20px;
    opacity: 0px;
    background: #333333;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.rank_id {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 24px;
    background: #333333;
    padding: 24px;
    border-radius: 40px;
}

#high-scores,
#total-points{
    justify-content: center;
    align-items: center;
}

#high-scores-list,
#total-points-list {
    font-size: 20px;
    width: 90%;
    margin-top: 0.5rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.score-table{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}