@font-face {
    font-family: 'Avenir';
    src: url('https://fonts.cdnfonts.com/s/49041/AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Avenir', sans-serif;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    overflow: hidden;
}

.leaderboard-container {
    width: 100%;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 20px;
    color: white;
    margin-top: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.leaderboard-header {
    width: 100%;
    max-width: 400px;
    background-color: #00FFCF;
    color: black;
    padding: 10px 0;
    font-size: 5vh;
    font-weight: bold;
    border-radius: 0 0 10px 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    text-align: center;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 70px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    color: white;
    margin-bottom: 10px;
    position: relative;
    border: 3px solid #00FFCF;
    /* Added border to make profile picture stand out */
}

.profile-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-pic input {
    display: none;
}

.profile-pic label {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #00FFCF;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.nickname {
    font-size: 3vh;
    /* Increased font size for nickname */
    margin-bottom: 10px;
}

.nickname input {
    font-size: 3vh;
    /* Increased font size for nickname input */
    padding: 5px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    background-color: #333;
    color: #fff;
    display: none;
}

.tridend-amount {
    font-size: 5vh;
    /* Increased font size for points */
    margin-bottom: 5px;
    color: #00FFCF;
    font-weight: bold;
}

.top-score {
    font-size: 3vh;
    /* Increased font size for top score */
    margin-bottom: 10px;
    color: white;
}

.checkin-count {
    font-size: 3vh;
    /* Increased font size for check-ins */
    margin-bottom: 10px;
    color: white;
}

.daily-checkin {
    margin-top: 10px;
    position: relative;
}

.daily-checkin button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2.5vh;
    background-color: #00FFCF;
    color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    border-top: 1px solid #333;
    width: 100%;
    background-color: black;
    height: 50px;
    position: fixed;
    bottom: 0px;
    border-radius: 15px;
    border-radius: 50px 50px 0px 0px;
    opacity: 0px;
    background: linear-gradient(360deg, #000000 0%, #2A3A37 100%);
    box-shadow: 0px -4px 4px 0px #00FFCF;
}

.footer .footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vh;
    color: #aaa;
    cursor: pointer;
    padding: 2px 0;
    flex: 1;
}

.footer .footer-item .icon {
    font-size: 3vh;
    margin-bottom: 2px;
}

.footer .footer-item.active {
    color: #fff;
}

.timer {
    color: #FFF;
    font-size: 2vh;
    margin-left: 10px;
}

.farming-circle {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    animation: sparkle 1.5s infinite;
}

.button-container {
    position: relative;
    gap: 20px;
    display: grid;
    width: 100%;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2.5vh;
    background: linear-gradient(135deg, #FF0092, #00FFCF);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@keyframes sparkle {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 90%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.modal-content img {
    width: 50px;
    height: 50px;
}

.modal-content h2 {
    margin: 20px 0;
    color: white;
    font-size: 4vh;
}

.modal-content p {
    color: #ccc;
    font-size: 2.5vh;
}

.modal-content .rewards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.modal-content .rewards .reward {
    background: #333;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    width: 70px;
    text-align: center;
    color: white;
    font-size: 2vh;
}

.modal-content .rewards .reward.current {
    border: 2px solid #00FFCF;
}

.modal-content button {
    background: linear-gradient(135deg, #FF0092, #00FFCF);
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2.5vh;
}

.modal-content button:hover {
    background: linear-gradient(135deg, #00FFCF, #FF0092);
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 3vh;
    color: white;
    cursor: pointer;
}