{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard.css') }}">
<div class="header">
    RANK
</div>
<div class="leaderboard-container">
    <div class="tabs">
        <div class="tab active" onclick="showTab('high-scores')">High Scores</div>
        <div class="tab" onclick="showTab('total-points')">Total Points</div>
    </div>
    <div class="game-stats">
        <div id="high-scores" class="tab-content active">
            <table>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Player</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody id="high-scores-list">
                    <!-- High scores data will be appended here -->
                </tbody>
            </table>
        </div>
        <div id="total-points" class="tab-content">
            <table>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Player</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody id="total-points-list">
                    <!-- Total points data will be appended here -->
                </tbody>
            </table>
        </div>
    </div>
</div>
{% include "components/footer.html" %}
<script src="{{url_for('static', filename='js/leaderboard.js')}}"></script>
{% endblock %}