{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
<div class="header">
    My WEN
</div>
<button id="info-button">i</button>
<div class="leaderboard-container">
    <div class="profile-section">
        <div class="center" style="flex-direction: column; gap:10px;max-width: 150px;">
            <div class="profile-pic">
                <img id="profile-img" src="{{ url_for('static', filename='img/profile.png') }}" alt="Profile Picture">
                <input type="file" id="upload-img" accept="image/*">
                <label for="upload-img">📷</label>
            </div>
            <p class="nickname" id="nickname">-----</p>
        </div>
        <div class="center" style="gap: 10px;">
            <div class="tridend-amount center" id="tridend-amount" style="flex-direction: column;">
                <span style="color: gray;">Total Score: </span>
                <span id="total_score">0</span>
            </div>
            <div class="top-score center" id="top-score" style="flex-direction: column;">
                <span style="color: gray;">High Score:</span>
                <span id="high_score">0</span>
            </div>
            <div class="checkin-count center" id="checkin-count" style="flex-direction: column;">
                <span style="color: gray;">Check-Ins:</span>
                <span id="check_ins"> 0</span>
            </div>
        </div>
    </div>
    <div class="button-container">
        <button class="farming-button" id="farming-btn" onclick="">-- : -- : --</button>
        <button class="checkin-button" onclick="showModal()">CHECK-IN</button>
    </div>
</div>

{% include "components/daily-reward.html" %}
<script src="{{url_for('static', filename='js/profile.js')}}"></script>
<script src="{{url_for('static', filename='js/components/farming.js')}}"></script>
<script src="{{url_for('static', filename='js/components/daily_reward.js')}}"></script>
{% endblock %}