{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/task.css') }}">
<div class="header">
    TASKS
</div>
<button id="info-button">i</button>
<div class="container center">
    <div class="tasks">
        <div class="task">
            <div class="center" style="flex-direction: row; gap: 20px;">
                <img id="task_friend-img" loading="lazy" src="{{url_for('static', filename='img/task_friend.png')}}"
                    alt="coin" width="30px" height="30px">
                <div class="task-info">
                    <div>
                        <span class="task-title">Invite frens 1</span>
                        <span style="color: gray;">/10</span>
                    </div>
                    <span class="task-points">+4.000 TP per invite</span>
                </div>
            </div>
            <div class="task-action">
                <!-- <button id="inviteFriend" class="view-modal-telegram" onclick="inviteFriend()">Start</button> -->
                <button id="inviteFriend" onclick="inviteFriend()">START</button>
            </div>
        </div>
        <div class="task">
            <div class="center" style="flex-direction: row; gap: 20px;">
                <img id="task_friend-img" loading="lazy" src="{{url_for('static', filename='img/task_friend.png')}}"
                    alt="coin" width="30px" height="30px">
                <div class="task-info">
                    <span class="task-title">Follow Telegram Channel</span>
                    <span class="task-points">+ 2500 points</span>
                </div>
            </div>
            <div class="task-action">
                <button id="followTelegram" onclick="followTelegram()">START</button>
            </div>
        </div>

        <div class="task">
            <div class="center" style="flex-direction: row; gap: 20px;">
                <img id="task_twitter-img" loading="lazy" src="{{url_for('static', filename='img/task_twitter.png')}}"
                    alt="coin" width="30px" height="30px">
                <div class="task-info">
                    <span class="task-title"> Join X</span>
                    <span class="task-points">+ 3500 points</span>
                </div>
            </div>
            <div class="task-action">
                <button id="joinX" onclick="joinX()">START</button>
            </div>
        </div>

        <div class="task">
            <div class="center" style="flex-direction: row; gap: 20px;">
                <img id="task_tiktok-img" loading="lazy" src="{{url_for('static', filename='img/task_tiktok.png')}}"
                    alt="coin" width="30px" height="30px">
                <div class="task-info">
                    <span class="task-title"> Join TikTok</span>
                    <span class="task-points">+ 3500 points</span>
                </div>
            </div>
            <div class="task-action">
                <button id="joinTikTok" onclick="joinTikTok()">START</button>
            </div>
        </div>

        <div class="task">
            <div class="center" style="flex-direction: row; gap: 20px;">
                <img id="task_instagram-img" loading="lazy"
                    src="{{url_for('static', filename='img/task_instagram.png')}}" alt="coin" width="30px"
                    height="30px">
                <div class="task-info">
                    <span class="task-title">Join Instagram</span>
                    <span class="task-points">+ 3500 points</span>
                </div>
            </div>
            <div class="task-action">
                <button id="joinInstagram" onclick="joinInstagram()">START</button>
            </div>
        </div>

        <div class="task">
            <div class="center" style="flex-direction: row; gap: 20px;">
                <img id="task_discord-img" loading="lazy" src="{{url_for('static', filename='img/task_discord.png')}}"
                    alt="coin" width="30px" height="30px">
                <div class="task-info">
                    <span class="task-title">Join Discord</span>
                    <span class="task-points">+ 3500 points</span>
                </div>
            </div>
            <div class="task-action">
                <button id="joinDiscord" onclick="joinDiscord()">START</button>
            </div>
        </div>

        <div class="task">
            <div class="center" style="flex-direction: row; gap: 20px;">
                <img id="task_triend-img" loading="lazy" src="{{url_for('static', filename='img/task_triend.png')}}"
                    alt="coin" width="30px" height="30px">
                <div class="task-info">
                    <span class="task-title">Learn About Triend</span>
                    <span class="task-points">+ 3500 points</span>
                    <!-- triend.io -->
                </div>
            </div>
            <div class="task-action">
                <button id="learnAbout" onclick="learnClick()">START</button>
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='js/task.js')}}"></script>
{% endblock %}
