<div id="character-card" class="center">
    <div class="center">
        <h1>Pick Your Hero</h1>
        <div id="character-selection-container">
            <div class="character-card" ondblclick="startCountdown()"
                onclick="selectCharacter('character1')">
                <img src="{{url_for('static', filename='img/player1-img.png')}}"
                    alt="Character 1">
                <div>Character 1</div>
            </div>
            <div class="character-card" ondblclick="startCountdown()"
                onclick="selectCharacter('character2')">
                <img src="{{url_for('static', filename='img/player2-img.png')}}"
                    alt="Character 2">
                <div>Character 2</div>
            </div>
            <div class="character-card" ondblclick="startCountdown()"
                onclick="selectCharacter('character3')">
                <img src="{{url_for('static', filename='img/player3-img.png')}}"
                    alt="Character 3">
                <div>Character 3</div>
            </div>
        </div>
        <button id="start-game-button" onclick="startCountdown()">Start Game</button>
    </div>
</div>