<div id="character-card" class="center">
    <div class="center">
        <h1>Pick Your Hero</h1>
        <div id="character-selection-container">
            <div class="character-card" ondblclick="startCountdown()"
                onclick="selectCharacter('Character 1', 'https://www.dropbox.com/scl/fi/72jfh5xp5sh71h0q2lglp/Comi-Launch-7.svg?rlkey=3ny5hh293cmjuwg0raub7sfwg&raw=1')">
                <img src="https://www.dropbox.com/scl/fi/72jfh5xp5sh71h0q2lglp/Comi-Launch-7.svg?rlkey=3ny5hh293cmjuwg0raub7sfwg&raw=1"
                    alt="Character 1">
                <div>Character 1</div>
            </div>
            <div class="character-card" ondblclick="startCountdown()"
                onclick="selectCharacter('Character 2', 'https://www.dropbox.com/scl/fi/4nnzw8baxfx1jvs4i6frp/Add-a-subheading-21.png?rlkey=jfxwy3ebgc16m85mo5ham6hyz&raw=1')">
                <img src="https://www.dropbox.com/scl/fi/4nnzw8baxfx1jvs4i6frp/Add-a-subheading-21.png?rlkey=jfxwy3ebgc16m85mo5ham6hyz&raw=1"
                    alt="Character 2">
                <div>Character 2</div>
            </div>
            <div class="character-card" ondblclick="startCountdown()"
                onclick="selectCharacter('Character 3', 'https://www.dropbox.com/scl/fi/q0ux5fgmtzg2lt9adahrf/Add-a-subheading-12.svg?rlkey=gs522a2buydv5dhj8ulqtlzb1&raw=1')">
                <img src="https://www.dropbox.com/scl/fi/q0ux5fgmtzg2lt9adahrf/Add-a-subheading-12.svg?rlkey=gs522a2buydv5dhj8ulqtlzb1&raw=1"
                    alt="Character 3">
                <div>Character 3</div>
            </div>
        </div>
        <button id="start-game-button" onclick="startCountdown()">Start Game</button>
    </div>
</div>