<div id="character-card" class="center">
    <div class="center">
        <p style="font-size: 1.4rem; font-weight: 1000;">PICK YOUR HERO</p>
        <div id="character-selection-container">
            <div class="character-card" ondblclick="startCountdown()"
                onclick="selectCharacter('character1')">
                <img src="{{url_for('static', filename='img/player1-img.png')}}"
                    alt="Market-order Mark">
                <div style="font-weight: 700; font-size: 0.8rem;">Market-order Mark</div>
            </div>
            <div class="character-card" ondblclick="startCountdown()"
                onclick="selectCharacter('character2')">
                <img src="{{url_for('static', filename='img/player2-img.png')}}"
                    alt="Stop-loss Sally">
                <div style="font-weight: 700; font-size: 0.8rem;">Stop-loss Sally</div>
            </div>
            <div class="character-card" ondblclick="startCountdown()"
                onclick="selectCharacter('character3')">
                <img src="{{url_for('static', filename='img/player3-img.png')}}"
                    alt="TWAP Tammy">
                <div style="font-weight: 700; font-size: 0.8rem;">TWAP Tammy</div>
            </div>
        </div>
        <button id="start-game-button" onclick="startCountdown()" style="font-weight: 700; font-size: 1.2rem;min-width: fit-content;">Start Game</button>
    </div>
</div>
