<div class="footer" id="footer">
    <div class="footer-item active" onclick="navigateTo('')">
        <div class="icon">🌍</div>
        <div>PLAY</div>
    </div>
    <div style="width: 1rem;">
        <div class="footer_bar">
        </div>
    </div>
    <div class="footer-item" onclick="navigateTo('tasks')">
        <div class="icon">💰</div>
        <div>EARN</div>
    </div>
    <div style="width: 1rem;">
        <div class="footer_bar">
        </div>
    </div>
    <div class="footer-item" onclick="navigateTo('leaderboard')">
        <div class="icon">🥇</div>
        <div>RANK</div>
    </div>
    <div style="width: 1rem;">
        <div class="footer_bar">
        </div>
    </div>
    <div class="footer-item" onclick="navigateTo('profile')">
        <div class="icon">👤</div>
        <div>PROFILE</div>
    </div>
</div>