<div id="game-over-screen" class="center">
    <!-- Alert message -->
    <div id="alert-message" class="alert alert-success">
        Brag to your mates! Share your score and gain more points.
    </div>
    <div class="leaderboard-container modal_type1" style="font-size: 2rem; gap: 20px;">
        <div style="margin-top: 20px;">
            <span>❌</span>
        </div>
        <div id="game-over" style="margin-top: 10px;">
            <span style="color: white;">GAME</span>
            <span style="color: red;">OVER</span>
        </div>
        <div class="leaderboard-header" style="color:gray; font-size: 1.2rem; margin-top: 10px;">
            Scores:
        </div>
        <h2 id="final-score">0</h2>
        <div class="center score-section">
            <div class="score">Best:
                <span id="best-score">---</span>
            </div>
            <div class="score">Rank:
                <span id="rank-score">---</span>
            </div>
        </div>
        <div class="center" style="gap:10px;padding:1rem;">
            <button class="center green_btn" onclick="navigateTo('tasks')">GET MORE POINTS</button>
            <button id="brag-button" class="center green_btn" onclick="shareDropDown(event)">BRAG 😏</button>
            <div id="share-dropdown" class="share-dropdown">
                <a href="#" onclick="shareOnDiscord()">Discord</a>
                <a href="#" onclick="shareOnTelegram()">Telegram</a>
                <a href="#" onclick="shareOnTwitter()">Twitter</a>
            </div>
            <button class="center green_btn" onclick="restartGame()">PLAY AGAIN</button>
        </div>
        
    </div>
</div>