<div id="game-over-screen" class="center">
    <!-- Alert message -->
    <div id="alert-message" class="alert alert-success">
        Brag to your mates! Share your score and gain more points.
    </div>
    <div class="leaderboard-container modal_type1" style="font-size: 2rem; gap: 20px;">
        <div style="margin-top: 20px;">
            <span>❌</span>
        </div>
        <div id="game-over" style="margin-top: 10px;">
            <span style="color: white;">GAME</span>
            <span style="color: red;">OVER</span>
        </div>
        <div class="leaderboard-header" style="color:gray; font-size: 1.2rem; margin-top: 10px;">
            Scores:
        </div>
        <h2 id="final-score">0</h2>
        <div class="center score-section">
            <div class="score">Best:
                <span id="best-score">---</span>
            </div>
            <div class="score">Rank:
                <span id="rank-score">---</span>
            </div>
        </div>
        <div class="center" style="gap:10px;padding:1rem;">
            <button class="center green_btn" onclick="navigateTo('tasks')">GET MORE POINTS</button>
            <button id="brag-button" class="center green_btn" onclick="showDropDown()">BRAG 😏</button>
            <button class="center green_btn" onclick="restartGame()">PLAY AGAIN</button>
        </div>
    </div>
</div>

<div id="share-dropdown">
    <div style="background-color: white;">
        <div style="padding: 1rem;">
            <div class="center" style="color: black; font-size: 14px;">Share score</div>
            <div style="color: black; font-size: 12px; text-align: left;">Share on socials</div>
        </div>

        <div class="row center" style="position: relative; padding: 0.5rem;">
            <a href="#" onclick="selectSocialChannel('Telegram')">
                <img src="{{url_for('static', filename='img/task_telegram.png')}}" alt="Telegram" width="48px" height="48px">
            </a>
            <a href="#" onclick="selectSocialChannel('Discord')">
                <img src="{{url_for('static', filename='img/task_discord.png')}}" alt="Discord" width="48px" height="48px">
            </a>
            <a href="#" onclick="selectSocialChannel('Twitter')">
                <img src="{{url_for('static', filename='img/task_twitter.png')}}" alt="Twitter" width="48px" height="48px">
            </a>
        </div>

        <div class="center" style="position: relative;">
            <textarea id="text-area" rows="5">Some text here</textarea>
            <button id="delete-button" onclick="clearMessage()">x</button>
        </div>
        <button id="send-button" onclick="sendMessage()">Send</button>
    </div>

    <button id="cancel_button" onclick="hideDropDown()">Cancel</button>
</div>