
<div class="header" id="header">
    <div
        style="display: flex; align-items: center; justify-content: center; gap: 15px; margin-left: 10px; margin-right: 10px;">
        <img id="player-img" loading="lazy" src="{{url_for('static', filename='img/player-img.png')}}" alt="Player"
            width="120px" height="120px">
        <p style="font-size: 20px;
            line-height: 2rem;
            font-weight: 400;
            color: white;
            text-align: left;
            ">Welcome! Play to earn points. Tap to jump and get as high score as you can.</p>
    </div>
    <button class="green_btn" onclick="enterGame()">ENTER WEN WORLD</button>
</div>