<div id="rule-modal">
    <div id="rule-content1" class="center modal_type1" style="justify-content: space-between;">
        <div class="center">
            <p class="center">
                <img id="rule-img-1" loading="lazy" src="{{url_for('static', filename='img/rule-1.png')}}" alt="Rule">
            </p>
            <div class="modal_content">
                <div style="width: 90%;">
                    <p>
                        1<span style="color: gray;">/4</span>
                    </p>
                    <p>
                        Play to earn points. Tap to jump and get as high score as you can.
                    </p>
                </div>
                <button class="green_btn" style="margin-bottom: 2rem;" id="rule-step-1">NEXT</button>
            </div>
        </div>
    </div>

    <div id="rule-content2" class="center modal_type1" style="justify-content: space-between;">
        <div class="center">
            <p class="center">
                <img id="rule-img-2" loading="lazy" src="{{url_for('static', filename='img/rule-2.png')}}" alt="Rule">
            </p>
            <div class="modal_content">
                <div style="width: 90%;">
                    <p>
                        2<span style="color: gray;">/4</span>
                    </p>
                    <p>
                        Check your rank and boost your total score by completing tasks!
                    </p>
                </div>
                <button class="green_btn" style="margin-bottom: 2rem;" id="rule-step-2">NEXT</button>
            </div>
        </div>
    </div>

    <div id="rule-content3" class="center modal_type1" style="justify-content: space-between;">
        <div class="center">
            <p class="center">
                <img id="rule-img-3" loading="lazy" src="{{url_for('static', filename='img/rule-3.png')}}" alt="Rule">
            </p>
            <div class="modal_content">
                <div style="width: 90%;">
                    <p>
                        3<span style="color: gray;">/4</span>
                    </p>
                    <p>
                        Farm tokens to get free points every 6 hours.
                    </p>
                </div>
                <button class="green_btn" style="margin-bottom: 2rem;" id="rule-step-3">NEXT</button>
            </div>
        </div>
    </div>

    <div id="rule-content4" class="center modal_type1" style="justify-content: space-between;">
        <div class="center">
            <p class="center">
                <img id="rule-img-4" loading="lazy" src="{{url_for('static', filename='img/rule-4.png')}}" alt="Rule">
            </p>
            <div class="modal_content">
                <div style="width: 90%;">
                    <p>
                        4<span style="color: gray;">/4</span>
                    </p>
                    <p>
                        Invite your friends and get bonuses together. You will both receive points.
                    </p>
                </div>
                <button class="green_btn" style="margin-bottom: 2rem;" id="rule-step-4">GOT IT</button>
            </div>
        </div>
    </div>
</div>